body {
    background-color: aliceblue;
}

.gameboard {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-items: center;
    border: black solid .2rem;
    border-radius:.3rem;
    padding: 1rem;
    background: white;
}